* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "RO Sans";
  src: url('../fonts/RO-SansWebText-Regular.eot');
  src: url('../fonts/RO-SansWebText-Regular.eot?#iefix') format('eot'), url('../fonts/RO-SansWebText-Regular.ttf') format('truetype'), url('../fonts/RO-SansWebText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO Sans";
  src: url('../fonts/RO-SansWebText-Bold.eot');
  src: url('../fonts/RO-SansWebText-Bold.eot?#iefix') format('eot'), url('../fonts/RO-SansWebText-Bold.ttf') format('truetype'), url('../fonts/RO-SansWebText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RO Sans";
  src: url('../fonts/RO-SansWebText-Italic.eot');
  src: url('../fonts/RO-SansWebText-Italic.eot?#iefix') format('eot'), url('../fonts/RO-SansWebText-Italic.ttf') format('truetype'), url('../fonts/RO-SansWebText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "RO Serif";
  src: url('../fonts/RO-SerifWeb-Regular.eot');
  src: url('../fonts/RO-SerifWeb-Regular.eot?#iefix') format('eot'), url('../fonts/RO-SerifWeb-Regular.ttf') format('truetype'), url('../fonts/RO-SerifWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO Serif";
  src: url('../fonts/RO-SerifWeb-Bold.eot');
  src: url('../fonts/RO-SerifWeb-Bold.eot?#iefix') format('eot'), url('../fonts/RO-SerifWeb-Bold.ttf') format('truetype'), url('../fonts/RO-SerifWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RO Serif";
  src: url('../fonts/RO-SerifWeb-Italic.eot');
  src: url('../fonts/RO-SerifWeb-Italic.eot?#iefix') format('eot'), url('../fonts/RO-SerifWeb-Italic.ttf') format('truetype'), url('../fonts/RO-SerifWeb-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[class^="icon-"], a[class*=" icon-"] {
  color: #01689b;
  display: inline-block;
  line-height: 1rem;
  display: block;
}
a[class^="icon-"]:hover, a[class*=" icon-"]:hover {
  color: #cce0f1;
}

.icon-pijllinks:before {
  content: "\e600";
}

.icon-pijlbeneden:before {
  content: "\e601";
}

.icon-pijlrechts:before {
  content: "\e602";
}

.icon-pijlboven:before {
  content: "\e603";
}

.icon-kaart:before {
  content: "\e604";
}

.icon-filter:before {
  content: "\e605";
}

.icon-locatiemarker:before {
  content: "\e606";
}

.icon-oog:before {
  content: "\e607";
}

.icon-kaartlagen:before {
  content: "\e608";
}

.icon-adresboek:before {
  content: "\e609";
}

.icon-kalender:before {
  content: "\e60a";
}

.icon-info:before {
  content: "\e60b";
}

.icon-hulp:before {
  content: "\e60c";
}

.icon-home:before {
  content: "\e60d";
}

.icon-contact:before {
  content: "\e60e";
}

.icon-settings:before {
  content: "\e60f";
}

.icon-printer_diap .path1:before {
  content: "\e610";
  color: black;
}

.icon-printer_diap .path2:before {
  content: "\e611";
  margin-left: -1em;
  color: white;
}

.icon-printer_diap .path3:before {
  content: "\e612";
  margin-left: -1em;
  color: white;
}

.icon-printer_diap .path4:before {
  content: "\e613";
  margin-left: -1em;
  color: white;
}

.icon-printer:before {
  content: "\e614";
}

.icon-computer:before {
  content: "\e615";
}

.icon-laptop:before {
  content: "\e616";
}

.icon-klok:before {
  content: "\e617";
}

.icon-winkelwagen:before {
  content: "\e618";
}

.icon-email_diap .path1:before {
  content: "\e619";
  color: black;
}

.icon-email_diap .path2:before {
  content: "\e61a";
  margin-left: -1em;
  color: white;
}

.icon-email_diap .path3:before {
  content: "\e61b";
  margin-left: -1em;
  color: white;
}

.icon-email:before {
  content: "\e61c";
}

.icon-externelink:before {
  content: "\e61d";
}

.icon-nieuws_diap .path1:before {
  content: "\e61e";
  color: black;
}

.icon-nieuws_diap .path2:before {
  content: "\e61f";
  margin-left: -1em;
  color: white;
}

.icon-nieuws:before {
  content: "\e620";
}

.icon-rss:before {
  content: "\e621";
}

.icon-vraagenantwoord:before {
  content: "\e622";
}

.icon-video:before {
  content: "\e623";
}

.icon-audio:before {
  content: "\e624";
}

.icon-formulier_diap .path1:before {
  content: "\e625";
  color: black;
}

.icon-formulier_diap .path2:before {
  content: "\e626";
  margin-left: -1em;
  color: white;
}

.icon-formulier:before {
  content: "\e627";
}

.icon-weblogbericht:before {
  content: "\e628";
}

.icon-overigdiapositief .path1:before {
  content: "\e629";
  color: black;
}

.icon-overigdiapositief .path2:before {
  content: "\e62a";
  margin-left: -1em;
  color: white;
}

.icon-overigdiapositief .path3:before {
  content: "\e62b";
  margin-left: -1em;
  color: white;
}

.icon-overig:before {
  content: "\e62c";
}

.icon-communicatie:before {
  content: "\e62d";
}

.icon-informatiemanagement:before {
  content: "\e62e";
}

.icon-media:before {
  content: "\e62f";
}

.icon-dataverkeer:before {
  content: "\e630";
}

.icon-ict:before {
  content: "\e631";
}

.icon-klachtendiapositief .path1:before {
  content: "\e632";
  color: black;
}

.icon-klachtendiapositief .path2:before {
  content: "\e633";
  margin-left: -1em;
  color: white;
}

.icon-klachten:before {
  content: "\e634";
}

.icon-bewerken:before {
  content: "\e635";
}

.icon-downloaden:before {
  content: "\e636";
}

.icon-klaarzetten:before {
  content: "\e637";
}

.icon-menu:before {
  content: "\e638";
}

.icon-user:before {
  content: "\e639";
}

.icon-verwijderen:before {
  content: "\e63a";
}

.icon-zoek:before {
  content: "\e63b";
}

.icon-hashtag:before {
  content: "\e63c";
}

.icon-facebook:before {
  content: "\e63d";
}

.icon-linked-in:before {
  content: "\e63e";
}

.icon-twitter:before {
  content: "\e63f";
}

#l10n-client.hidden {
  display: block !important;
  visibility: visible;
}

/**
* Typography: Headings, body text, lists, code, and more for a versatile
* and durable typography system.
*
* Dit zijn uitsluitend stijlelementen die voorkomen in de content (main),
* dus tussen de header en de footer.
*/
body {
  font-family: "RO Sans", "Droid Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: black;
}
body > #centerbox {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

a img {
  outline: 0 none;
  border: 0 none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
  font-weight: normal;
}
h1 > a:link, h2 > a:link, h3 > a:link, h4 > a:link, h5 > a:link, h6 > a:link {
  text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  line-height: 18px;
  font-size: 2.4rem;
  line-height: 1.8rem;
}

h2 {
  font-size: 18px;
  line-height: 18px;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

h3 {
  font-size: 14.04px;
  line-height: 18px;
  font-size: 1.404rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h5 {
  font-size: 10.0px;
  line-height: 18px;
  font-size: 1.0rem;
  line-height: 1.8rem;
}

h6 {
  font-size: 9px;
  line-height: 18px;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

#main p {
  margin-bottom: 10px;
}
#main p:first-child {
  margin-top: 10px;
}
#main img.left {
  float: left;
  margin-right: 10px;
}
#main img.right {
  float: right;
  margin-left: 10px;
}
#main a img {
  outline: 0 none;
  border: 0 none;
}
#main ul ul,
#main ul ol,
#main ol ol,
#main ol ul {
  margin-bottom: 0;
}
#main ul {
  list-style-type: square;
}
#main ul.inline {
  list-style-type: none;
  padding-left: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=");
  background-position: 0 0.5em;
  background-repeat: no-repeat;
  padding-left: 18px;
}
#main ul.content-list > li {
  margin-bottom: 0;
}
#main ul.tabs > li {
  margin-top: 0;
}
#main ul.menu
> li {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=");
  background-position: 0 0.7em;
  background-repeat: no-repeat;
  padding-left: 18px;
  line-height: 2.2;
}
#main h2 {
  border-top: 3px solid #01689b;
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1.8;
  padding: 0.4em 0 0;
  font: 1.25em/1.5;
  font-weight: bold;
}
#main hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}
#main strong {
  font-weight: bold;
}
#main em {
  font-style: italic;
}
#main .messages {
  padding: 20px;
  margin-left: -20px;
  background-repeat: no-repeat;
  background-position: 20px 0;
}
#main .messages.error {
  background-color: #f7d2dd;
  background-image: url("../images/messages_error.png");
}
#main .messages.status {
  background-color: #c5f2b2;
  background-image: url("../images/messages_status.png");
}
#main .messages.warning {
  background-color: #fdf6bb;
  background-image: url("../images/messages_warning.png");
}
#main .progress .filled {
  background-color: #01689b;
}
#main ul.pager {
  border-top: 3px solid #01689b;
  font-size: 100%;
  margin: 0 0 20px -20px;
  padding-left: 20px;
}
#main ul.pager li {
  background-image: none;
  border: 0 none;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 18px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0 10px 0 0;
  padding: 0.7em 8px 0.5em;
}
#main ul.pager .pager-current {
  background-color: #01689b;
  color: white;
  display: block;
}

::-moz-selection {
  background: #01689b;
  color: white;
  text-shadow: none;
}

::selection {
  background: #01689b;
  color: white;
  text-shadow: none;
}

@page {
  margin: 1cm;
}

#search,
#main-menu,
#main-content,
#footer {
  display: none;
}

#page {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: none;
}

#main,
#content {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  float: none;
}

#content a:after {
  content: " [" attr(href) "] ";
}

.media-image_left,
.media-image_right {
  float: none;
  margin: 0;
}
