* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "RO Sans";
  src: url('../fonts/RO-SansWebText-Regular.eot');
  src: url('../fonts/RO-SansWebText-Regular.eot?#iefix') format('eot'), url('../fonts/RO-SansWebText-Regular.ttf') format('truetype'), url('../fonts/RO-SansWebText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO Sans";
  src: url('../fonts/RO-SansWebText-Bold.eot');
  src: url('../fonts/RO-SansWebText-Bold.eot?#iefix') format('eot'), url('../fonts/RO-SansWebText-Bold.ttf') format('truetype'), url('../fonts/RO-SansWebText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RO Sans";
  src: url('../fonts/RO-SansWebText-Italic.eot');
  src: url('../fonts/RO-SansWebText-Italic.eot?#iefix') format('eot'), url('../fonts/RO-SansWebText-Italic.ttf') format('truetype'), url('../fonts/RO-SansWebText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "RO Serif";
  src: url('../fonts/RO-SerifWeb-Regular.eot');
  src: url('../fonts/RO-SerifWeb-Regular.eot?#iefix') format('eot'), url('../fonts/RO-SerifWeb-Regular.ttf') format('truetype'), url('../fonts/RO-SerifWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RO Serif";
  src: url('../fonts/RO-SerifWeb-Bold.eot');
  src: url('../fonts/RO-SerifWeb-Bold.eot?#iefix') format('eot'), url('../fonts/RO-SerifWeb-Bold.ttf') format('truetype'), url('../fonts/RO-SerifWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RO Serif";
  src: url('../fonts/RO-SerifWeb-Italic.eot');
  src: url('../fonts/RO-SerifWeb-Italic.eot?#iefix') format('eot'), url('../fonts/RO-SerifWeb-Italic.ttf') format('truetype'), url('../fonts/RO-SerifWeb-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[class^="icon-"], a[class*=" icon-"] {
  color: #01689b;
  display: inline-block;
  line-height: 1rem;
  display: block;
}
a[class^="icon-"]:hover, a[class*=" icon-"]:hover {
  color: #cce0f1;
}

.icon-pijllinks:before {
  content: "\e600";
}

.icon-pijlbeneden:before {
  content: "\e601";
}

.icon-pijlrechts:before {
  content: "\e602";
}

.icon-pijlboven:before {
  content: "\e603";
}

.icon-kaart:before {
  content: "\e604";
}

.icon-filter:before {
  content: "\e605";
}

.icon-locatiemarker:before {
  content: "\e606";
}

.icon-oog:before {
  content: "\e607";
}

.icon-kaartlagen:before {
  content: "\e608";
}

.icon-adresboek:before {
  content: "\e609";
}

.icon-kalender:before {
  content: "\e60a";
}

.icon-info:before {
  content: "\e60b";
}

.icon-hulp:before {
  content: "\e60c";
}

.icon-home:before {
  content: "\e60d";
}

.icon-contact:before {
  content: "\e60e";
}

.icon-settings:before {
  content: "\e60f";
}

.icon-printer_diap .path1:before {
  content: "\e610";
  color: black;
}

.icon-printer_diap .path2:before {
  content: "\e611";
  margin-left: -1em;
  color: white;
}

.icon-printer_diap .path3:before {
  content: "\e612";
  margin-left: -1em;
  color: white;
}

.icon-printer_diap .path4:before {
  content: "\e613";
  margin-left: -1em;
  color: white;
}

.icon-printer:before {
  content: "\e614";
}

.icon-computer:before {
  content: "\e615";
}

.icon-laptop:before {
  content: "\e616";
}

.icon-klok:before {
  content: "\e617";
}

.icon-winkelwagen:before {
  content: "\e618";
}

.icon-email_diap .path1:before {
  content: "\e619";
  color: black;
}

.icon-email_diap .path2:before {
  content: "\e61a";
  margin-left: -1em;
  color: white;
}

.icon-email_diap .path3:before {
  content: "\e61b";
  margin-left: -1em;
  color: white;
}

.icon-email:before {
  content: "\e61c";
}

.icon-externelink:before {
  content: "\e61d";
}

.icon-nieuws_diap .path1:before {
  content: "\e61e";
  color: black;
}

.icon-nieuws_diap .path2:before {
  content: "\e61f";
  margin-left: -1em;
  color: white;
}

.icon-nieuws:before {
  content: "\e620";
}

.icon-rss:before {
  content: "\e621";
}

.icon-vraagenantwoord:before {
  content: "\e622";
}

.icon-video:before {
  content: "\e623";
}

.icon-audio:before {
  content: "\e624";
}

.icon-formulier_diap .path1:before {
  content: "\e625";
  color: black;
}

.icon-formulier_diap .path2:before {
  content: "\e626";
  margin-left: -1em;
  color: white;
}

.icon-formulier:before {
  content: "\e627";
}

.icon-weblogbericht:before {
  content: "\e628";
}

.icon-overigdiapositief .path1:before {
  content: "\e629";
  color: black;
}

.icon-overigdiapositief .path2:before {
  content: "\e62a";
  margin-left: -1em;
  color: white;
}

.icon-overigdiapositief .path3:before {
  content: "\e62b";
  margin-left: -1em;
  color: white;
}

.icon-overig:before {
  content: "\e62c";
}

.icon-communicatie:before {
  content: "\e62d";
}

.icon-informatiemanagement:before {
  content: "\e62e";
}

.icon-media:before {
  content: "\e62f";
}

.icon-dataverkeer:before {
  content: "\e630";
}

.icon-ict:before {
  content: "\e631";
}

.icon-klachtendiapositief .path1:before {
  content: "\e632";
  color: black;
}

.icon-klachtendiapositief .path2:before {
  content: "\e633";
  margin-left: -1em;
  color: white;
}

.icon-klachten:before {
  content: "\e634";
}

.icon-bewerken:before {
  content: "\e635";
}

.icon-downloaden:before {
  content: "\e636";
}

.icon-klaarzetten:before {
  content: "\e637";
}

.icon-menu:before {
  content: "\e638";
}

.icon-user:before {
  content: "\e639";
}

.icon-verwijderen:before {
  content: "\e63a";
}

.icon-zoek:before {
  content: "\e63b";
}

.icon-hashtag:before {
  content: "\e63c";
}

.icon-facebook:before {
  content: "\e63d";
}

.icon-linked-in:before {
  content: "\e63e";
}

.icon-twitter:before {
  content: "\e63f";
}

#l10n-client.hidden {
  display: block !important;
  visibility: visible;
}

/**
 * Global partials: Typography, forms, site-wide changes.
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/*! normalize.css v2.1.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/*! normalize.css v2.1.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v2.1.0 | Links | MIT License | git.io/normalize */
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v2.1.0 | Typography | MIT License | git.io/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*! normalize.css v2.1.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v2.1.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 0;
}

/*! normalize.css v2.1.0 | Forms | MIT License | git.io/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/*! normalize.css v2.1.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Defaults: For any general elements to apply to the whole page.
 */
img,
video {
  max-width: 100%;
  height: auto;
}
.ie8 img, .ie8
video {
  width: auto;
}

.label-above + ul {
  margin-top: 0;
}

.label-inline {
  display: inline-block;
}

.label-strong {
  font-weight: bold;
}

.clearfix:before, #main ul.pager:before, .clearfix:after, #main ul.pager:after {
  display: table;
  content: "";
}
.clearfix:after, #main ul.pager:after {
  clear: both;
}

ul.pager, ul.menu, #main ul.content-list, #main ul.menu, #main ul.tabs {
  list-style: none;
}
ul.pager li, ul.menu li, #main ul.content-list li, #main ul.menu li, #main ul.tabs li {
  list-style-image: none;
}

a, #main a {
  color: black;
  text-decoration: none;
}
a:link, #main a:link {
  color: #154273;
}
a:visited, #main a:visited {
  color: #154273;
}
a:hover, #main a:hover, a:focus, #main a:focus {
  color: #154273;
  text-decoration: underline;
}
a:active, #main a:active, a.active, #main a.active {
  color: #154273;
}

ul.pager, ul.menu, #main ul.content-list, #main ul.menu, #main ul.tabs {
  margin: 0;
  padding: 0;
}

/**
 * Core reset: For Drupal core styling that needs to be reset.
 */
ul.tabs {
  margin: 0;
  padding: 0;
}
ul.tabs > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-left: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul.tabs > li > a {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  padding: 3px 8px;
  background-color: #e5f0f9;
  border: none;
}
ul.tabs > li > a.active {
  background-color: #01689b;
  color: white;
  border: none;
}
ul.tabs > li:first-child {
  margin-left: 0;
}

.skiplinks {
  text-align: center;
}
.skiplinks > a {
  padding: 20px;
  display: block;
  background-color: white;
  font-size: 20px;
  line-height: 18px;
  font-size: 2rem;
  line-height: 1.8rem;
  color: #01689b;
}

ul.contextual-links {
  margin: 0 !important;
}
ul.contextual-links li {
  background: none !important;
  border: none !important;
  width: auto !important;
  height: auto !important;
  overflow: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

ul.pager {
  text-align: center;
}
ul.pager li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.throbber {
  display: none;
}

/**
* Typography: Headings, body text, lists, code, and more for a versatile
* and durable typography system.
*
* Dit zijn uitsluitend stijlelementen die voorkomen in de content (main),
* dus tussen de header en de footer.
*/
body {
  font-family: "RO Sans", "Droid Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: black;
}
body > #centerbox {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

a img {
  outline: 0 none;
  border: 0 none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
  font-weight: normal;
}
h1 > a:link, h2 > a:link, h3 > a:link, h4 > a:link, h5 > a:link, h6 > a:link {
  text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  line-height: 18px;
  font-size: 2.4rem;
  line-height: 1.8rem;
}

h2 {
  font-size: 18px;
  line-height: 18px;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

h3 {
  font-size: 14.04px;
  line-height: 18px;
  font-size: 1.404rem;
  line-height: 1.8rem;
}

h4 {
  font-size: 12px;
  line-height: 18px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h5 {
  font-size: 10.0px;
  line-height: 18px;
  font-size: 1.0rem;
  line-height: 1.8rem;
}

h6 {
  font-size: 9px;
  line-height: 18px;
  font-size: 0.9rem;
  line-height: 1.8rem;
}

#main p {
  margin-bottom: 10px;
}
#main p:first-child {
  margin-top: 10px;
}
#main img.left {
  float: left;
  margin-right: 10px;
}
#main img.right {
  float: right;
  margin-left: 10px;
}
#main a img {
  outline: 0 none;
  border: 0 none;
}
#main ul ul,
#main ul ol,
#main ol ol,
#main ol ul {
  margin-bottom: 0;
}
#main ul {
  list-style-type: square;
}
#main ul.inline {
  list-style-type: none;
  padding-left: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=");
  background-position: 0 0.5em;
  background-repeat: no-repeat;
  padding-left: 18px;
}
#main ul.content-list > li {
  margin-bottom: 0;
}
#main ul.tabs > li {
  margin-top: 0;
}
#main ul.menu
> li {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=");
  background-position: 0 0.7em;
  background-repeat: no-repeat;
  padding-left: 18px;
  line-height: 2.2;
}
#main h2 {
  border-top: 3px solid #01689b;
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1.8;
  padding: 0.4em 0 0;
  font: 1.25em/1.5;
  font-weight: bold;
}
#main hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}
#main strong {
  font-weight: bold;
}
#main em {
  font-style: italic;
}
#main .messages {
  padding: 20px;
  margin-left: -20px;
  background-repeat: no-repeat;
  background-position: 20px 0;
}
#main .messages.error {
  background-color: #f7d2dd;
  background-image: url("../images/messages_error.png");
}
#main .messages.status {
  background-color: #c5f2b2;
  background-image: url("../images/messages_status.png");
}
#main .messages.warning {
  background-color: #fdf6bb;
  background-image: url("../images/messages_warning.png");
}
#main .progress .filled {
  background-color: #01689b;
}
#main ul.pager {
  border-top: 3px solid #01689b;
  font-size: 100%;
  margin: 0 0 20px -20px;
  padding-left: 20px;
}
#main ul.pager li {
  background-image: none;
  border: 0 none;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 18px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0 10px 0 0;
  padding: 0.7em 8px 0.5em;
}
#main ul.pager .pager-current {
  background-color: #01689b;
  color: white;
  display: block;
}

::-moz-selection {
  background: #01689b;
  color: white;
  text-shadow: none;
}

::selection {
  background: #01689b;
  color: white;
  text-shadow: none;
}

/**
 * Design partials: A place to put your specific design partials.
 */
/**
 * Layout-level styling.
 */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

body {
  background-color: #f3f3f3;
  border-top: 3px solid #535353;
}

@media (min-width: 740px) {
  #centerbox {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #centerbox:after {
    content: "";
    display: table;
    clear: both;
  }
}

#mainbox {
  background-color: white;
}

/*
 * Header menu
 * This is an optional small gray stroke containing service links.
 */
#header-menu {
  min-height: 30px;
  line-height: 30px;
  background-color: #f3f3f3;
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
#header-menu:after {
  content: "";
  display: table;
  clear: both;
}
#header-menu nav {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
}
#header-menu nav:last-child {
  width: 48.93617%;
  float: right;
  margin-right: 0;
}
#header-menu nav:last-child ul.menu {
  text-align: right;
}
#header-menu ul.menu li {
  display: inline-block;
  padding-left: 11px;
}
#header-menu ul.menu li:first-child {
  padding-left: 0;
}

#header {
  position: relative;
  display: block;
  padding-top: 77px;
  overflow: hidden;
}
@media (min-width: 740px) {
  #header {
    padding-top: 87px;
  }
}

#rijkslogo {
  left: 50%;
  margin-left: -22px;
  position: absolute;
  top: 0;
  margin-top: -10px;
}
@media (min-width: 740px) {
  #rijkslogo {
    margin-top: 0;
  }
}
#rijkslogo > a {
  text-decoration: none;
  color: black;
}
#rijkslogo .wordmark {
  letter-spacing: .2pt;
  font-family: "RO Serif", "Droid Serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 12px;
  line-height: 13px;
  font-size: 1.2rem;
  line-height: 1.3rem;
  display: block;
  float: right;
  margin-top: 39px;
  margin-left: 9px;
  visibility: hidden;
}
@media (min-width: 740px) {
  #rijkslogo .wordmark {
    visibility: visible;
  }
}
#rijkslogo .wordmark > span {
  display: block;
}
#rijkslogo .secondary-sender {
  font-style: italic;
}

#projectlogo {
  position: absolute;
  top: 15px;
  margin-top: 0px;
  margin-left: 20px;
  font-family: "RO Sans", "Droid Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
  font-size: 2.8rem;
  line-height: 2.4rem;
}
#projectlogo a {
  color: black;
  text-decoration: none;
}
#projectlogo a span {
  color: #01689b;
}

#title-bar {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem;
  background-color: #e5f0f9;
  font-weight: bold;
  padding-left: 20px;
}

/*
 * Main bar
 *
 * This is where the main menu and search will be placed.
 * Each available menu inside this region will inherit the same styles.
 * A search form is only alowed once. Two search forms will break the layout.
 *
 */
#main-bar {
  position: relative;
  background-color: #01689b;
  padding-top: 46px;
}
@media (min-width: 980px) {
  #main-bar {
    padding-left: 20px;
    padding-top: 0;
    min-height: 46px;
  }
}
#main-bar .nav {
  clear: both;
}
@media (min-width: 740px) {
  #main-bar .nav {
    clear: none;
  }
}
@media (min-width: 980px) {
  #main-bar .nav {
    margin-top: 0px;
    padding-top: 0;
  }
}
#main-bar .nav > ul {
  padding: 0 10px;
}
@media (min-width: 740px) {
  #main-bar .nav > ul {
    padding: 0 20px 0 0;
  }
}
@media (min-width: 980px) {
  #main-bar .nav > ul {
    margin: 18px 0 0 0;
    padding: 0;
    width: auto;
  }
}
#main-bar .nav > ul > li {
  margin: 0 0 2px 0;
}
@media (min-width: 740px) {
  #main-bar .nav > ul > li {
    display: block;
    width: 50%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  #main-bar .nav > ul > li {
    width: auto;
    margin: 0;
    border-bottom: 0;
  }
}
#main-bar .nav > ul > li a {
  display: block;
  padding: 6px 0;
  font-size: 15px;
  line-height: 27px;
  font-size: 1.5rem;
  line-height: 2.7rem;
  text-decoration: none;
  color: #e5f0f9;
  border-top: 1px solid #cce0f1;
}
@media (min-width: 740px) {
  #main-bar .nav > ul > li a {
    font-size: 13px;
    line-height: 24px;
    font-size: 1.3rem;
    line-height: 2.4rem;
    padding: 5px 10px 5px 0px;
    margin-left: 20px;
  }
}
@media (min-width: 980px) {
  #main-bar .nav > ul > li a {
    padding: 2px 10px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin-left: 0;
    border: 0px;
  }
}
#main-bar .nav > ul > li a:hover, #main-bar .nav > ul > li a:active, #main-bar .nav > ul > li a:focus {
  color: white;
}
@media (min-width: 980px) {
  #main-bar .nav > ul > li a:hover, #main-bar .nav > ul > li a:active, #main-bar .nav > ul > li a:focus {
    color: black;
    background-color: #cce0f1;
  }
}
#main-bar .nav .active-trail a,
#main-bar .nav li a.active {
  color: #e5f0f9;
  font-weight: bold;
}
@media (min-width: 980px) {
  #main-bar .nav .active-trail a,
  #main-bar .nav li a.active {
    background-color: #cce0f1;
    color: black;
  }
}
#main-bar .nav:hover, #main-bar .nav:active, #main-bar .nav:focus {
  color: #154273;
}
#main-bar #search {
  z-index: 5;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 740px) {
  #main-bar #search {
    width: 50%;
  }
}
@media (min-width: 980px) {
  #main-bar #search {
    width: 25%;
    margin-left: 0;
  }
}
#main-bar #search form {
  background-color: #01689b;
  margin: 0px 86px 0px 0px;
}
@media (min-width: 740px) {
  #main-bar #search form {
    margin-right: 96px;
  }
}
@media (min-width: 740px) {
  #main-bar #search form {
    margin-left: 10px;
  }
}
#main-bar #search form input[type="text"],
#main-bar #search form input[type="search"] {
  border: 0px;
}
#main-bar #search form input[type="submit"] {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAxQTFRFAWibmcPXOImx////cMSuLgAAAAR0Uk5T////AEAqqfQAAABB SURBVHjabI5JDgAwCAKx/P/PtaBdknIwGRcQZCAVXAIHpCEK9V3ZS4km+uRL9+br0gmedbqwPMrv ELH968spwABl+gExsfnwvAAAAABJRU5ErkJggg==") no-repeat scroll 4px 50% #cce0f1;
  background-position: 6px 50%;
  color: #154273;
  font-size: 11px;
  line-height: 14px;
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding-left: 25px;
  right: 10px;
}
@media (min-width: 740px) {
  #main-bar #search form input[type="submit"] {
    right: 20px;
  }
}

.js #main-bar .nav {
  display: none;
}

.js #menu-button {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 4px 10px 4px 24px;
  text-decoration: none;
  background: #cce0f1 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAWib////rYYWUQAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgwAoY4QCZSbFagAADAAkGACkXnxklAAAAAElFTkSuQmCC") no-repeat 6px 50%;
  color: #154273;
  font-size: 13px;
  line-height: 19px;
  font-size: 1.3rem;
  line-height: 1.9rem;
  text-transform: capitalize;
  text-indent: 0;
  clip: auto;
  height: auto;
  width: auto;
  cursor: pointer;
}
.js #menu-button:hover, .js #menu-button:active, .js #menu-button:focus {
  background-color: white;
}
@media (min-width: 740px) {
  .js #menu-button {
    font-size: 11px;
    line-height: 16px;
    font-size: 1.1rem;
    line-height: 1.6rem;
    left: 20px;
    color: #154273;
  }
}
@media (min-width: 980px) {
  .js #menu-button {
    display: none;
  }
}

#main {
  padding-bottom: 50px;
  min-height: 350px;
  border-top: 10px solid #e5f0f9;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 740px) {
  #main {
    border-top: 10px solid #cce0f1;
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #main:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main .header {
  background: #e5f0f9;
  padding: 5px 10px 0;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}
@media (min-width: 740px) {
  #main .header {
    background: #cce0f1;
    background: -webkit-linear-gradient(top, #cce0f1 0, #e5f0f9 100%);
    background: -o-linear-gradient(top, #cce0f1 0, #e5f0f9 100%);
    background: -ms-linear-gradient(top, #cce0f1 0, #e5f0f9 100%);
    background: linear-gradient(to bottom, #cce0f1 0%, #e5f0f9 100%);
    margin-left: -20px;
    margin-right: -20px;
  }
}
#main .header .topic-home,
#main .header h1 {
  font: normal 1.833em/1.2 Arial,"Helvetica Neue",Helvetica,Univers,sans-serif;
  display: block;
  padding-top: .2em;
  padding-bottom: .6em;
  text-decoration: none;
}
@media (min-width: 740px) {
  #main .header .topic-home,
  #main .header h1 {
    font-size: 1.833em;
  }
}
#main .header ul.menu {
  clear: left;
  margin: 0;
  padding: 0;
}
#main .header ul.menu li {
  border-top: 1px solid #cce0f1;
  background: none;
}
@media (min-width: 740px) {
  #main .header ul.menu li {
    float: left;
    border-top: 0;
  }
}
@media (min-width: 980px) {
  #main .header ul.menu li {
    margin-right: 10px;
  }
}
#main .header ul.menu li a {
  display: block;
  padding: .4em 0;
  color: #154273;
  text-decoration: none;
  font-size: 1.1em;
}
@media (min-width: 740px) {
  #main .header ul.menu li a {
    display: block;
    padding: .3em 10px;
    text-decoration: none;
    font-size: 1.15em;
  }
}
@media (min-width: 980px) {
  #main .header ul.menu li a {
    font-size: 1.25em;
  }
}
#main .header ul.menu li a.active, #main .header ul.menu li a.active-trail {
  color: #000;
  font-weight: bold;
}
@media (min-width: 740px) {
  #main .header ul.menu li a.active, #main .header ul.menu li a.active-trail {
    background-color: #FFF;
    color: #000;
  }
}
@media (min-width: 980px) {
  #main .header ul.menu li a.active, #main .header ul.menu li a.active-trail {
    font-size: 1.25em;
  }
}

#breadcrumb {
  margin-bottom: .4em;
  font-size: .9167em;
}
#breadcrumb a {
  color: #154273;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  padding: 0;
}
#breadcrumb a {
  background: 0;
}
#breadcrumb a + a {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAMAAAAYuxziAAAABlBMVEUVQnP///+tewiuAAAAAnRSTlP/AOW3MEoAAAAYSURBVAjXY2BgZGRkAEIIAvOgLAYIkxEAAZEAFktafNEAAAAASUVORK5CYII=") no-repeat 0 0.636em;
  padding-left: 15px;
}

#payoff {
  clear: both;
  position: relative;
  border-left: 44px solid #154273;
  display: block;
  left: 50%;
  margin-left: -22px;
  margin-bottom: 0px;
  padding-left: 6px;
  padding-bottom: 2px;
  min-height: 22px;
  width: 50%;
  font-family: "RO Serif", "Droid Serif", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 9px;
  line-height: 16px;
  font-size: 0.9rem;
  line-height: 1.6rem;
}
@media (min-width: 740px) {
  #payoff {
    width: 240px;
  }
}

#footer {
  overflow: hidden;
  background-color: #e6e6e6;
  border-top: 3px solid #535353;
  padding: 0 20px 20px;
}
#footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #535353;
  font-weight: normal;
  border-bottom: 1px solid #cccccc;
  margin: 0 0 .33em;
  padding: 1.44em 0 0.5em;
}
@media (min-width: 980px) {
  #footer {
    padding: 0 20px 40px;
  }
}

#footer-menu .menu > li > a {
  display: block;
  color: #535353;
  font-size: 13px;
  line-height: 23px;
  font-size: 1.3rem;
  line-height: 2.3rem;
  padding: 0.2em 0 0.6em;
}
#footer-menu .menu > li > a:visited {
  color: #535353;
}
#footer-menu > nav:first-child {
  clear: both;
}
@media (min-width: 740px) {
  #footer-menu > nav {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  #footer-menu > nav:nth-child(3) {
    float: right;
    margin-right: 0;
  }
}

.no-sidebars #content {
  float: none;
  width: auto;
  margin-right: auto;
  margin-right: 20px;
}

@media (min-width: 740px) {
  #centerbox {
    max-width: 1220px;
  }

  .two-sidebars #sidebar-first {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
  .two-sidebars #content {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }
  .two-sidebars #sidebar-second {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  .sidebar-first #sidebar-first {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
  .sidebar-first #content {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }

  .sidebar-second #content {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }
  .sidebar-second #sidebar-second {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  #centerbox {
    max-width: 1220px;
  }

  .two-sidebars #sidebar-first {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
    margin-left: -76.59574%;
  }
  .two-sidebars #content {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    margin-left: 25.53191%;
  }
  .two-sidebars #sidebar-second {
    width: 23.40426%;
    float: right;
    margin-right: 0;
    margin-left: -25.53191%;
  }

  .sidebar-first #sidebar-first {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
  }
  .sidebar-first #content {
    width: 74.46809%;
    float: right;
    margin-right: 0;
  }

  .sidebar-second #content {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
  }
  .sidebar-second #sidebar-second {
    width: 23.40426%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 1240px) {
  #centerbox {
    max-width: 1220px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #centerbox:after {
    content: "";
    display: table;
    clear: both;
  }

  .two-sidebars #sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .two-sidebars #content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .two-sidebars #sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }

  .sidebar-first #sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .sidebar-first #content {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }

  .sidebar-second #content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  .sidebar-second #sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
#centerbox {
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
@media (min-width: 740px) {
  #centerbox {
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
}
@media (min-width: 980px) {
  #centerbox {
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
}
@media (min-width: 1240px) {
  #centerbox {
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
}

/**
 * Style definitions for form elements (inputs, buttons, etc.) and error
 * handling.
 */
#main form {
  background-color: #e5f0f9;
  padding: 20px 30px 20px 20px;
}
#main aside form {
  margin-left: -20px;
}
#main fieldset {
  margin: 0;
}
#main input,
#main button,
#main select,
#main textarea {
  font-family: "RO Sans", "Droid Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  background-color: white;
}
#main label {
  float: left;
  font-size: 1em;
  left: -11em;
  margin: 0 -11em 0 0;
  position: relative;
  top: 0.25em;
  width: 10.5em;
}
#main label.option {
  float: none;
  left: 0;
  margin: 0;
  top: 0;
}
#main .button,
#main button,
#main input[type="submit"],
#main input[type="reset"],
#main input[type="button"] {
  cursor: pointer;
  background-color: #01689b;
  border: 0 none;
  margin: 2px;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 2px 8px 2px;
}
#main input[type="text"],
#main input[type="password"],
#main input[type="email"],
#main textarea,
#main select {
  border-color: #cce0f1 #cce0f1 #01689b;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 2px;
  width: 100%;
  min-height: 25px;
}
#main input[type="text"].error,
#main input[type="password"].error,
#main input[type="email"].error,
#main textarea.error,
#main select.error {
  border-color: #f2bfbb #f2bfbb #d52b1e;
}
#main .form-item, #main .form-actions {
  padding-left: 11em;
  margin-top: 10px;
}
#main form.has-description-toggle {
  padding-right: 60px;
}
#main form a.description-open, #main form a.description-close {
  display: block;
  width: 20px;
  height: 25px;
  position: absolute;
  top: 0px;
  right: -40px;
  background: #01689b;
  color: white;
  font-size: 13px;
  line-height: 25px;
  font-size: 1.3rem;
  line-height: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
#main form .description {
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
 * Table styling.
 */
table {
  border-collapse: collapse;
  margin: 0 0 1.4em 0;
}
@media (min-width: 740px) {
  table {
    width: auto;
    margin: 0 0 20px 0;
  }
}

form table {
  margin-left: 0;
  margin-bottom: 0;
  min-width: 100%;
}
@media (min-width: 740px) {
  form table {
    margin: 0;
  }
}
form table caption {
  color: black;
  font-size: 15px;
  line-height: 22.5px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: bold;
  margin: 0;
  padding: 4px 20px;
}
form table td:last-child {
  width: 100%;
}
form fieldset table {
  margin-left: -10px;
}

h2 + table {
  margin-top: .8em;
}

td, th {
  padding: 4px 5px 5px;
  border-collapse: collapse;
  vertical-align: top;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #e5f0f9;
  text-align: left;
}
@media (min-width: 740px) {
  td, th {
    padding: 0.6em 5px 0.6em;
    line-height: 1.5;
  }
}

td:first-child, th:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

th {
  background-color: #cce0f1;
  font-weight: bold;
}
th:last-child {
  border-right: none;
}
th p {
  line-height: 1.5;
}

td p {
  line-height: 1.5;
}

th p:last-child, td p:last-child {
  margin-bottom: 0;
}

caption {
  padding-left: 10px;
  margin: 1em 0;
  color: #767676;
  line-height: 1.5;
  text-align: left;
}

tfoot td {
  background-color: transparent;
}

#search {
  position: relative;
}
#search form {
  padding: 10px 0px 10px 0px;
  margin: 0px 86px 0px 0px;
  background-color: transparent;
}
#search form .form-item,
#search form .form-actions {
  margin: 0;
  padding: 0;
}
#search form > div {
  min-height: 24px;
}
#search input[type="text"],
#search input[type="search"] {
  border-right: 0px;
  color: black;
  display: block;
  float: left;
  font-size: 11px;
  line-height: 14px;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 0;
  padding: 5px;
  width: 100%;
  border-radius: 0;
}
#search input[type="submit"] {
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  font-size: 1.6rem;
  line-height: 1.7rem;
  margin: 0;
  width: auto;
  right: 0;
  top: 10px;
  position: absolute;
  border: 0px;
}
