////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really
//  hold nothing except for imports of your base, layout, and design
//  partials, plus the mixins required to kickstart Aura and Style Guide.
////////////////////////

////////////////////////
// Base Import
////////////////////////
@import 'partials/base/base';

////////////////////////
// Import Global Stylings
////////////////////////
@import 'partials/global/extendables';
@import 'partials/global/style-guide';
@import 'partials/global/core-reset';

////////////////////////
// Import Design Stylings
////////////////////////
//@import 'partials/design/design';

////////////////////////
// Custom Code
////////////////////////

.cke_show_borders {
  padding: 0 10px;
}

.cke_panel_grouptitle {
  @include font-size();
}
