@include font-face(
  'icons',
  font-files('icons.ttf', 'icons.woff', 'icons.svg'), 'icons.eot',
  normal, normal
);

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  // Better Font Rendering.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  &[class^="icon-"],
  &[class*=" icon-"] {
    color: $mainColor;
    display: inline-block;
    line-height: 1rem;
    display: block;
    &:hover{
      color: $mainColor-lighter;
    }
  }
}

.icon-pijllinks:before {
  content: "\e600";
}
.icon-pijlbeneden:before {
  content: "\e601";
}
.icon-pijlrechts:before {
  content: "\e602";
}
.icon-pijlboven:before {
  content: "\e603";
}
.icon-kaart:before {
  content: "\e604";
}
.icon-filter:before {
  content: "\e605";
}
.icon-locatiemarker:before {
  content: "\e606";
}
.icon-oog:before {
  content: "\e607";
}
.icon-kaartlagen:before {
  content: "\e608";
}
.icon-adresboek:before {
  content: "\e609";
}
.icon-kalender:before {
  content: "\e60a";
}
.icon-info:before {
  content: "\e60b";
}
.icon-hulp:before {
  content: "\e60c";
}
.icon-home:before {
  content: "\e60d";
}
.icon-contact:before {
  content: "\e60e";
}
.icon-settings:before {
  content: "\e60f";
}
.icon-printer_diap .path1:before {
  content: "\e610";
  color: rgb(0, 0, 0);
}
.icon-printer_diap .path2:before {
  content: "\e611";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-printer_diap .path3:before {
  content: "\e612";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-printer_diap .path4:before {
  content: "\e613";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-printer:before {
  content: "\e614";
}
.icon-computer:before {
  content: "\e615";
}
.icon-laptop:before {
  content: "\e616";
}
.icon-klok:before {
  content: "\e617";
}
.icon-winkelwagen:before {
  content: "\e618";
}
.icon-email_diap .path1:before {
  content: "\e619";
  color: rgb(0, 0, 0);
}
.icon-email_diap .path2:before {
  content: "\e61a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email_diap .path3:before {
  content: "\e61b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email:before {
  content: "\e61c";
}
.icon-externelink:before {
  content: "\e61d";
}
.icon-nieuws_diap .path1:before {
  content: "\e61e";
  color: rgb(0, 0, 0);
}
.icon-nieuws_diap .path2:before {
  content: "\e61f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nieuws:before {
  content: "\e620";
}
.icon-rss:before {
  content: "\e621";
}
.icon-vraagenantwoord:before {
  content: "\e622";
}
.icon-video:before {
  content: "\e623";
}
.icon-audio:before {
  content: "\e624";
}
.icon-formulier_diap .path1:before {
  content: "\e625";
  color: rgb(0, 0, 0);
}
.icon-formulier_diap .path2:before {
  content: "\e626";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-formulier:before {
  content: "\e627";
}
.icon-weblogbericht:before {
  content: "\e628";
}
.icon-overigdiapositief .path1:before {
  content: "\e629";
  color: rgb(0, 0, 0);
}
.icon-overigdiapositief .path2:before {
  content: "\e62a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-overigdiapositief .path3:before {
  content: "\e62b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-overig:before {
  content: "\e62c";
}
.icon-communicatie:before {
  content: "\e62d";
}
.icon-informatiemanagement:before {
  content: "\e62e";
}
.icon-media:before {
  content: "\e62f";
}
.icon-dataverkeer:before {
  content: "\e630";
}
.icon-ict:before {
  content: "\e631";
}
.icon-klachtendiapositief .path1:before {
  content: "\e632";
  color: rgb(0, 0, 0);
}
.icon-klachtendiapositief .path2:before {
  content: "\e633";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-klachten:before {
  content: "\e634";
}
.icon-bewerken:before {
  content: "\e635";
}
.icon-downloaden:before {
  content: "\e636";
}
.icon-klaarzetten:before {
  content: "\e637";
}
.icon-menu:before {
  content: "\e638";
}
.icon-user:before {
  content: "\e639";
}
.icon-verwijderen:before {
  content: "\e63a";
}
.icon-zoek:before {
  content: "\e63b";
}
.icon-hashtag:before {
  content: "\e63c";
}
.icon-facebook:before {
  content: "\e63d";
}
.icon-linked-in:before {
  content: "\e63e";
}
.icon-twitter:before {
  content: "\e63f";
}
