////////////////////////
// Mixins Partials
//
// All of your mixins should go in this file.
////////////////////////

// $icons-layout: vertical;
// $icons-spacing: 10px;
// @import "icons/*.png";

// $inline-layout: vertical;
// $inline-spacing: 50px;
// @import "inline/*.png";

@mixin font-size($size: strip-unit($base-font-size), $line: strip-unit($base-line-height)){
  font-size: $size + px;
  line-height: $line + px;
  font-size: ($size / 10) + rem;
  line-height: ($line / 10) + rem;
}

@mixin line-height($line: strip-unit($base-line-height)){
  line-height: $line + px;
  line-height: ($line / 10) + rem;
}

@mixin reset-grid-spacing($reset: true) {
  @if ($reset) {
    margin-left: -$grid-padding;
    margin-right: -$grid-padding;
  }
  @else {
    margin-left: 0;
    margin-right: 0;
  }
}

// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin contrast-text ($color, $colored:false) {
  @if lightness($color) < 50% {
    // if the background color is a very dark color
    // we need a white text, or we can use maincolor-lightest
    @if $colored {
      color: $mainColor-lightest;
    } @else {
      color: $white;
    }
  } @else {
    // if the background color is a light color
    // a black text
    @if $colored {
      @if lightness($mainColor) < 20% {
        color: $mainColor;
      } @else {
        color: $dark-blue;
      }
    } @else {
      color: $black;
    }
  }
}
