// Define the main color palet
// alternatively you can choose between 16 other offically defined color palets

$mainColor          : $blue !default;
$mainColor-lighter  : $blue-lighter !default;
$mainColor-lightest : $blue-lightest !default;

// Base color variables.
$text           : $black !default;
$link-color     : $dark-blue !default;
$link           : $link-color !default;
$visited        : $link-color !default;


$projectlogoAccent  : $mainColor !default;
$selection-bg   : $mainColor !default;

// Add Susy responsive layout settings.
//
// Susy operates using just five variables listed here. By adjusting these
// variables, you can instantly change your grid without touching any of
// the details of your implementation.
//
// @see http://susy.oddbird.net/guides/reference/


//rijkshuisstijl online 1.3 defines the following formats:
//$mobile           : 3 columns; container-margin 10px
//$mobile-landscape : 4 columns; container-margin 20px
//$tablet           : 9 columns; container-margin 10px
//$tablet-landscape : 12 columns; container-margin 20px
//$desktop          : container-width 960px 12 columns; container-margin 10px
//$large-desktop    : container-width 1180px 12 columns; column-with 80px; container-margin 20px
//gutter-width 20px between columns
//this needs to be mapped on the definitions below

$mobile         : 4;
$tablet         : 9;
$desktop        : 12;
$large-desktop  : 1240px 12;

$container-width  : 960px;

$total-columns          : $mobile;
$column-width           : 60px;
$gutter-width           : 20px;
$grid-padding           : $gutter-width;

$show-grid-backgrounds  : false;
