// Variables Partials
//
// All of your variables should go in this file.


// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// These variables are used throughout compass, but specifically within the
// compass-normalize extension.
// /
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;


// Font faces, stacks and sizes.
//
// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   12; // The font size set on the root html element.
$base-line-height: 18; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2          * $base-font-size;
$h2-font-size: 1.5        * $base-font-size;
$h3-font-size: 1.17       * $base-font-size;
$h4-font-size: 1          * $base-font-size;
$h5-font-size: 0.83333333 * $base-font-size; // 10px
$h6-font-size: 0.75       * $base-font-size; // 8px



// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// Project-specific fonts

// Path to the licensed fonts. Use this only if the fonts are externaly loaded from an other url. font map config is in the config.rb!
$fontPath:        "";

// Put any font families here that are specific to your project.

// Rijksoverheid fallbacks.
// Note that at moment of writing (10-2-2014) Dutch government hasnt decided about the official fallback fonts
// We added Droid Sans as Droid Sans is used on rvo.nl as a fallback before Arial
// Arial is an official fallback system font described in the styleguide for titles
// Verdana as well, but for texts
$rijksoverheidSans  :  "RO Sans", "Droid Sans", $arial;
$rijksoverheidSerif :  "RO Serif", "Droid Serif", $georgia;
//probably add the following as well for 'broodtekst'
//$rijksoverheidSansText: "RijksOverheidSans", $verdana;

$courier            : "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/

// Now create some variables for the font stacks we want to use on this site.
// Fonts  are not yet mapped to the rijkshuisstijl styleguide

$base-font-family   : $arial; // The font family set on the html element.
$font-body          : $rijksoverheidSans;
$font-monospace     : $courier;
$form-font-family   : $rijksoverheidSans;


// Colors, etc.

//Official colorsets
//These are the official colors that are allowed on a rijkshuisstijl website

$dark-brown         : #623327;
$dark-brown-lighter : #d1c1be;
$dark-brown-lightest: #e8e1df;
$purple             : #42145f;
$purple-lighter     : #c6b8cf;
$purple-lightest    : #e3dce7;
$dark-green         : #275937;
$dark-green-lighter : #becdc3;
$dark-green-lightest: #dfe6e1;
$ruby               : #ca005a;
$ruby-lighter       : #efb2ce;
$ruby-lightest      : #f7d9e7;
$red                : #d52b1e;
$red-lighter        : #f2bfbb;
$red-lightest       : #f9dfdd;
$violet             : #a90061;
$violet-lighter     : #e5b2cf;
$violet-lightest    : #f2d9e7;
$moss-green         : #777c00;
$moss-green-lighter : #d6d7b2;
$moss-green-lightest: #ebebd9;
$brown              : #94710a;
$brown-lighter      : #dfd4b5;
$brown-lightest     : #efeada;
$green              : #39870c;
$green-lighter      : #c3dbb6;
$green-lightest     : #e1eddb;
$azure              : #007bc7;
$azure-lighter      : #b2d7ee;
$azure-lightest     : #d9ebf7;
$light-blue         : #8fcae7;
$light-blue-lighter : #ddeff8;
$light-blue-lightest: #eef7fb;
$pink               : #f092cd;
$pink-lighter       : #fadef0;
$pink-lightest      : #fdeff8;
$yellow             : #f9e11e;
$yellow-lighter     : #fdf6bb;
$yellow-lightest    : #fefbdd;
$dark-yellow        : #ffb612;
$dark-yellow-lighter: #ffe9b7;
$dark-yellow-lightest:#fff4dc;
$mint-green         : #76d2b6;
$mint-green-lighter : #d6f1e9;
$mint-green-lightest: #ebf8f4;
$orange             : #e17000;
$orange-lighter     : #f6d4b2;
$orange-lightest    : #fbead9;
$blue               : #01689B;
$blue-lighter       : #CCE0F1;
$blue-lightest      : #E5F0F9;

// Added is the blue colored set in use at rijksoverheid.nl
// note that these blue colors are not an official color set
// we use these as the default as this set is not part of the copyrighted design
// and they look great.


//offically defined grey-colors

$grey-darkest       : #767676;
$grey-darker        : #999999;
$grey               : #b4b4b4;
$grey-lighter       : #cccccc;
$grey-lightest      : #e6e6e6;

$black              : #000;
$black-lighter      : #535353;

$white              : #fff;
$white-darker       : #f3f3f3;


//special blue for text links and rijkslogo
$dark-blue          : #154273;



//offically defined mapping of colors to elements


$breadcrumb-color   : $grey-darkest;
$image-caption-color: $grey-darkest; // 'onderschrift'
$metadate-color     : $black-lighter;
$font-color         : $black;
$link-color         : $dark-blue;
$background-color   : $white;

// Define the main color palet
// alternatively you can choose between 16 other offically defined color palets

$menuColor-active   : $black;//choose black or white depending on the highest contrast with the mainColor-lightest
$menuColor-item     : $white;//choose black or white depending on the highest contrast with the mainColor

$rijkslogotextColor : $black;//choose black or white depending on the highest contrast with the background

$projectlogo        : $black;

$backgroundlayer    : $white-darker; //choose either $white-darker or $white
$backgroundlayer-link: $black-lighter;//functional links on the backgroundlayer


$alertColor         : $red;
$successColor       : $green;
$highlightColor     : $yellow;

$alertBackground    : #F7D2DD;
$successBackground  : #C5F2B2;

// Base color variables.
$text           : $black;
$link           : $link-color;
$visited        : $link-color;
$selection      : $white;

// Table colors.
$thead          : #4479b1;
$tbody          : #d5dde7;

@include border-box-sizing;

//logo
//visual mark is 77px height
//on mobile visual mark should be 66px height, so 11px is hidden
//width is 44px

$logo-width             : 44px;
$logo-height            : 77px;
$logo-height-mobile     : 66px;

// Add respond-to settings.
//
// Respond-to allows us to embed media queries directly into each rule that
// needs it, rather than forcing a developer to place rules for a single
// component in multiple places depending on the media query they want to
// affect.
//
// @see https://github.com/Snugug/respond-to
//
// Listed here are named breakpoints. They can vary in complexity, allowing you to
// get rid of the cognitive load behind typing and remembering media queries.
//
// @see https://github.com/Snugug/respond-to/blob/master/README.md
// @see https://github.com/canarymason/breakpoint/blob/master/README.markdown

// $sample-breakpoints: "small-ish" (300px),
//                      "medium-ish" (460px),
//                      "large-ish" (770px),
//                      "extra-large-ish" (1000px);

$breakpoints: '';
