/**
 * Core reset: For Drupal core styling that needs to be reset.
 */

// Tabs.
ul.tabs {
  margin: 0;
  padding: 0;
  > li {
    @include inline-block;
    margin-left: 3px;
    margin-top: $gutter-width;
    margin-bottom: $gutter-width;
    > a {
      @include border-radius(8px);
      color: white;
      text-decoration: none;
      padding: 3px 8px;
      background-color: $mainColor-lightest;
      border: none;
      &.active {
        background-color: $mainColor;
        color: $menuColor-item;
        border: none;
      }
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

// Skip-link.
.skiplinks {
  text-align: center;
  > a {
    padding: 20px;
    display: block;
    background-color: white;
    @include font-size(20);
    color: $mainColor;
  }
}

// Contextual links.
ul.contextual-links {
  margin: 0 !important;
  li {
    background: none !important;
    border: none !important;
    width: auto !important;
    height: auto !important;
    overflow: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

// Pager.
ul.pager {
  @extend %unstyled-list;
  text-align: center;
  li {
    @include inline-block;
  }
}

// Hide throbber
.throbber {
  display: none;
}
