/**
 * Defaults: For any general elements to apply to the whole page.
 */

img,
video {
  max-width: 100%;
  height: auto;
  .ie8 & {
    width: auto;
  }
}

// Label styling.
.label-above + ul {
  margin-top: 0;
}

.label-inline {
  display: inline-block;
}

.label-strong {
  font-weight: bold;
}
