////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

.clearfix {
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *zoom: 1;
  }

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

%unstyled-list {
  @extend %strip-margin-padding;
  list-style: none;
  li {
    list-style-image: none;
  }
}

// Links.
%link-default {
  color: $black;
  text-decoration: none;
  &:link {
    color: $link;
  }
  &:visited {
    color: $visited;
  }
  &:hover, &:focus {
    color: $link;
    text-decoration: underline;
  }
  &:active, &.active {
    color: $link;
  }
}

// Grid.
%grid-container {
  @include at-breakpoint($mobile) {
    @include container($mobile);

    // Grid background for debugging. Requires $show-grid-backgrounds: true; in
    // the variables partial.
    @include susy-grid-background;
  }

  @include at-breakpoint($tablet) {
    @include set-container-width;
    @include susy-grid-background;
  }

  @include at-breakpoint($desktop) {
    @include set-container-width;
    @include susy-grid-background;
  }
}

// Reset margin & padding.
%strip-margin-padding {
  margin: 0;
  padding: 0;
}

// Make sure that empty div's use their space.
// See: http://stackoverflow.com/a/11779092
%force-space-usage {
  &:after {
    content: '.';
    visibility: hidden;
  }
}
