/**
* Typography: Headings, body text, lists, code, and more for a versatile
* and durable typography system.
*
* Dit zijn uitsluitend stijlelementen die voorkomen in de content (main),
* dus tussen de header en de footer.
*/

body {
  font-family: $font-body;
  color: $text;
  > #centerbox {
    @include font-size();
  }
}


//deze hebben invloed op het menu
ul.menu {
  @extend %unstyled-list !optional;
}

a {
  @extend %link-default !optional;
  img {
    outline: 0 none;
    border: 0 none;
  }
}


// Headings
//
// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

#{headings()} {
  margin: $gutter-width 0;
  font-weight: normal;
  > a:link {
    text-decoration: none;
  }
  > a:hover {
    text-decoration: underline;
  }
}

h1 {
  @include font-size( $h1-font-size );
}
h2 {
  @include font-size( $h2-font-size );
}
h3 {
  @include font-size( $h3-font-size );
}
h4 {
  @include font-size( $h4-font-size );
}
h5 {
  @include font-size( $h5-font-size );
}
h6 {
  @include font-size( $h6-font-size );
}

#main {
//uitsluitend stijlelementen bewerken die in main staan


  p {
    &:first-child {
      margin-top: $gutter-width / 2;
    }
    margin-bottom: $gutter-width / 2;
  }

  img {
    &.left {
      float: left;
      margin-right: 10px;
    }
    &.right {
      float: right;
      margin-left: 10px;
    }
  }

  // Links.
  //
  // The order of link states are based on Eric Meyer's article:
  // http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
  a {
    @extend %link-default !optional;
    img {
      outline: 0 none;
      border: 0 none;
    }
  }


  // Lists.

  ul, ol {

  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-bottom: 0;
  }

  ul {
    list-style-type: square;
    &.inline {
      list-style-type: none;
      padding-left: 20px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=");
      background-position: 0 0.5em;
      background-repeat: no-repeat;
      padding-left: 18px;
//      line-height: 1.8;
    }
  }

  ol {
  }

  li {
  }

  li a{
  }

  ul.unstyled,
  ol.unstyled {

  }

  ul.content-list {
    @extend %unstyled-list !optional;
    > li {
      margin-bottom: 0;
    }
  }

  ul.menu {
    @extend %unstyled-list !optional;
  }


  ul.tabs {
    > li {
    margin-top: 0;
    }
    @extend %unstyled-list !optional;
  }

  //styling of an menu list with arrows as part of the main region

  ul.menu
      > li {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAMAAAACh/xsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAZQTFRFFUJz0NDAOhAcIwAAAAJ0Uk5T/wDltzBKAAAAHUlEQVR42mJg BAIGKAaTEAaQYoADuAiKGhABEGAABXMAK0OFNgoAAAAASUVORK5CYII=");
      background-position: 0 0.7em;
      background-repeat: no-repeat;
      padding-left: 18px;
      line-height: 2.2;
  }


  h2 {
    border-top: 3px solid $mainColor;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 1.8;
    padding: 0.4em 0 0;
    font: 1.25em/1.5;
    font-weight: bold;
  }

  // Misc.

  hr {
    height: 1px;
    border: 1px solid #666;
    padding-bottom: -1px;
    margin: rhythm(1) 0;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
  }

  q {
  }


  .messages {
    // Melding heeft op rijksoverheid.nl lichtblauwe achtergrond en begint direct vanaf de kantlijn.
    padding: 20px;
    margin-left: -20px;
    background-repeat: no-repeat;
    background-position: 20px 0;
    &.error {
      background-color: $alertBackground;
      background-image: url("../images/messages_error.png");
    }
    &.status {
      background-color: $successBackground;
      background-image: url("../images/messages_status.png");
    }
    &.warning {
      background-color: $yellow-lighter;
      background-image: url("../images/messages_warning.png");
    }
  }

  // Progress bar.
  .progress .filled {
    background-color: $mainColor;
  }

  // Paginering.
  ul.pager {
    // Overgenomen van Rijksoverheid.
    border-top: 3px solid $mainColor;
    font-size: 100%;
    margin: 0 0 20px -20px;
    padding-left: 20px;
    @extend .clearfix !optional;
    li {
      background-image: none;
      border: 0 none;
      display: block;
      float: left;
      @include font-size(14);
      margin: 0 10px 0 0;
      padding: 0.7em 8px 0.5em;
    }
    .pager-current {
      background-color: $mainColor;
      color: $white;
      display: block;
    }
  }
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::-moz-selection { background: $selection-bg; color: $selection; text-shadow: none; }
::selection { background: $selection-bg; color: $selection; text-shadow: none; }


