// Define the main color pallet.
// All available colors are specified in the _variables.scss file.
$mainColor          : $azure;
$mainColor-lighter  : $azure-lighter;
$mainColor-lightest : $azure-lightest;
