/**
 * Style definitions for form elements (inputs, buttons, etc.) and error
 * handling.
 */

#main {
  // only theme the main content part
  // so search and login in the header stays unaffected

  form {
    // Forms  on Rijksoverheid.nl use light backgrounds and are placed directly
    // to the side of the page.
    background-color: $mainColor-lightest;
    padding: 20px 30px 20px 20px;
  }
  aside {
    form {
      margin-left: -20px;
    }
  }

  fieldset {
    margin: 0;
  }

  legend {
  }

  label,
  input,
  button,
  select,
  textarea {
  }

  input,
  button,
  select,
  textarea {
    // And only set font-family here for those that need it (note the missing label element)
    font-family: $form-font-family;
    background-color: $white;
  }

  label {
    // Labels in forms are always placed inline.
    // This can depend on the display setting of a specific field.
    float: left;
    font-size: 1em;
    left: -11em;
    margin: 0 -11em 0 0;
    position: relative;
    top: 0.25em;
    width: 10.5em;
    &.option {
      float: none;
      left: 0;
      margin: 0;
      top: 0;
    }
  }

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    cursor: pointer;
    background-color: $mainColor;
    border: 0 none;
    margin: 2px;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1px;
    padding: 2px 8px 2px;
    &:hover {

    }

    &:active {

    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    border-color: $mainColor-lighter $mainColor-lighter $mainColor;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    width: 100%;
    min-height: 25px;
    &.error {
      border-color: $red-lighter $red-lighter $red;
    }

    &:focus {

    }
  }

  .form-item, .form-actions {
    padding-left: 11em;
    margin-top: 10px;
  }

  input[type="checkbox"] {

  }

  form {
    &.has-description-toggle {
      padding-right: 60px;
    }
    a {
      &.description-open,
      &.description-close {
        display: block;
        width: 20px;
        height: 25px;
        position: absolute;
        top: 0px;
        right: -40px;
        background: $mainColor;
        color: $white;
        @include font-size(13,25);
        font-weight: 600;
        text-align: center;
        text-decoration: none;
      }
    }
    .description {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

}
