////////////////////////
// Print Design Partials
//
// Seperate your layout from design, building sub folders and partials
//  in this folder, with everything being imported, in casading order,
//  into this file. This is for Printed files.
//
// All styling, non box model properties go here
////////////////////////

@page {
  margin: 1cm;
}
#search,
#main-menu,
#main-content,
#footer {
  display: none;
}
#page {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: none;
}
#main,
#content {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  float: none;
}
#content a:after {
  content: " [" attr(href) "] ";
}
.media-image_left,
.media-image_right {
  float: none;
  margin: 0;
}
