#search{
  position: relative;
  form {
    padding: 10px 0px 10px 0px;
    margin: 0px 86px 0px 0px;
    background-color: transparent;
    .form-item,
    .form-actions{
      margin: 0;
      padding: 0;
    }
    > div{
      min-height: 24px;
    }
  }
  input[type="text"],
  input[type="search"] {
    border-right: 0px;
    color: $black;
    display: block;
    float: left;
    @include font-size(11,14);
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 0;
  }
  input[type="submit"] {
    color: $white;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-weight: normal;
    @include font-size(16,17);
    margin: 0;
    width: auto;
    right: 0;
    top: 10px;
    position: absolute;
    border: 0px;
  }
}
