/**
 * Layout-level styling.
 */

html {
  font-size: 62.5%; // Sets up the Base 10 stuff
  -webkit-font-smoothing: antialiased; // maxvoltar.com/archive/-webkit-font-smoothing
  overflow-y: scroll; // Force scrollbar
}

body {
  background-color: $backgroundlayer; // variable for the backgroundlayer (margin around the content)
  border-top: 3px solid $black-lighter;
}

#centerbox {
  @include at-breakpoint ($tablet) {
    @include container;
  }
}

#mainbox {
  background-color: $white; // Make mainbox white for grey background.
}

/*
 * Header menu
 * This is an optional small gray stroke containing service links.
 */
#header-menu {
  min-height: 30px;
  line-height: 30px;
  background-color: $backgroundlayer;
  $container-width: 1220px;
  @include container;
  nav {
    @include span-columns(6,12);
  }
  nav:last-child {
    @include span-columns(6 omega, 12);
    ul.menu {
      text-align: right;
    }
  }
  ul.menu{
    li {
      display: inline-block;
      padding-left: 11px;
    }
    li:first-child {
      padding-left: 0;
    }
  }
}

// Header
#header {
  position: relative;
  display: block;
  padding-top: 77px;
  overflow: hidden;
  @include at-breakpoint ($tablet) {
    padding-top: 87px;
  }
}

#rijkslogo {
  left: 50%;
  margin-left: - $logo-width/2;
  position: absolute;
  top: 0;
  margin-top: -10px;
  @include at-breakpoint($tablet) {
    margin-top: 0;
  }
  > a {
    text-decoration: none;
    color: $rijkslogotextColor;
  }
  .wordmark {
    letter-spacing: .2pt;
    font-family: $rijksoverheidSerif;
    @include font-size (12, 13);
    display: block;
    float: right;
    margin-top: 39px;
    margin-left: 9px;
    // Visibility of wordmark depends on width
    visibility: hidden;
    @include at-breakpoint($tablet) {
      visibility: visible;
    }
    > span {
      display: block;
    }
  }
  .secondary-sender {
    font-style: italic;
  }
}

#projectlogo {
  position: absolute;
  top:15px;
  margin-top: 0px;
  margin-left: 20px;
  font-family: $rijksoverheidSans;
  font-weight: bold;
  @include font-size (28, 24);
  a {
    color: $projectlogo;
    text-decoration: none;
    span {
      color: $projectlogoAccent;
    }
  }
}

// Optional titlebar
#title-bar {
  // @include bleed;
  position: relative;
  @include font-size(20, 30);
  background-color: $mainColor-lightest;
  font-weight: bold;
  padding-left: 20px;
}

/*
 * Main bar
 *
 * This is where the main menu and search will be placed.
 * Each available menu inside this region will inherit the same styles.
 * A search form is only alowed once. Two search forms will break the layout.
 *
 */
#main-bar {
  position: relative;
  background-color: $mainColor;
  padding-top: 46px;
  @include at-breakpoint($desktop) {
    padding-left: $grid-padding;
    padding-top: 0;
    min-height: 46px;
  }
  .nav {
    clear: both;
    @include at-breakpoint($tablet) {
      clear: none;
    }
    @include at-breakpoint($desktop) {
      margin-top: 0px;
      padding-top: 0;
    }
    > ul {
      padding: 0 $grid-padding/2;
      @include at-breakpoint($tablet) {
        padding: 0 $grid-padding 0 0 ;
      }
      @include at-breakpoint($desktop) {
        margin: 18px 0 0 0;
        padding: 0;
        width: auto;
      }
      > li {
        margin: 0 0 2px 0;
        @include at-breakpoint($tablet) {
          display: block;
          width: 50%;
          clear: none;
          float: left;
          margin-left: 0;
          margin-right: 0;
        }
        @include at-breakpoint($desktop) {
          width: auto;
          margin: 0;
          border-bottom: 0;
        }
        a {
          display: block;
          padding: 6px 0;
          @include font-size(15,27);
          text-decoration: none;
          @include contrast-text ($mainColor, true);
          border-top: 1px solid $mainColor-lighter;
          @include at-breakpoint($tablet) {
            @include font-size(13,24);
            padding: 5px 10px 5px 0px;
            margin-left: 20px;
          }
          @include at-breakpoint($desktop) {
            padding: 2px 10px;
            background-color: transparent;
            @include contrast-text($mainColor);
            font-weight: bold;
            margin-left: 0;
            border: 0px;
          }
          &:hover, &:active, &:focus {
            @include contrast-text ($mainColor);
            @include at-breakpoint($desktop) {
              @include contrast-text($mainColor-lighter);
              background-color: $mainColor-lighter;
            }
          }
        }
      }
    }
    .active-trail a,
    li a.active  {
      @include contrast-text($mainColor, true);
      font-weight: bold;
      @include at-breakpoint($desktop) {
        background-color: $mainColor-lighter ;
        @include contrast-text($mainColor-lighter);
      }
    }
    &:hover, &:active, &:focus  {
      @include contrast-text($mainColor-lighter, true);
    }
  }

  #search {
    z-index: 5;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    @include at-breakpoint($tablet) {
      width: 50%;
    }
    @include at-breakpoint($desktop) {
      width: 25%;
      margin-left: 0;
    }
    form{
      background-color: $mainColor;
      margin: 0px 86px 0px 0px;
      @include at-breakpoint($tablet) {
        margin-right: 96px;
      }
      @include at-breakpoint($tablet) {
        margin-left: 10px;
      }
      input[type="text"],
      input[type="search"] {
        border: 0px;
      }
      input[type="submit"] {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ bWFnZVJlYWR5ccllPAAAAAxQTFRFAWibmcPXOImx////cMSuLgAAAAR0Uk5T////AEAqqfQAAABB SURBVHjabI5JDgAwCAKx/P/PtaBdknIwGRcQZCAVXAIHpCEK9V3ZS4km+uRL9+br0gmedbqwPMrv ELH968spwABl+gExsfnwvAAAAABJRU5ErkJggg==") no-repeat scroll 4px 50% $mainColor-lighter;
        background-position: 6px 50%;
        color: $dark-blue;
        @include font-size(11,14);
        padding-left: 25px;
        right: 10px;
        @include at-breakpoint($tablet) {
          right: 20px;
        }
      }
    }
  }
}

.js #main-bar {
  .nav{
    display: none;
  }
}

.js #menu-button{
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  padding: 4px 10px 4px 24px;
  text-decoration: none;
  background: $mainColor-lighter url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAWib////rYYWUQAAAAJ0Uk5T/wDltzBKAAAAFUlEQVR42mJgwAoY4QCZSbFagAADAAkGACkXnxklAAAAAElFTkSuQmCC") no-repeat 6px 50%;
  @include contrast-text($mainColor-lighter, true);
  @include font-size(13,19);
  text-transform: capitalize;
  text-indent: 0;
  clip: auto;
  height: auto;
  width: auto;
  cursor: pointer;
  &:hover, &:active, &:focus{
    background-color: $white;
  }
  @include at-breakpoint($tablet) {
    @include font-size(11,16);
    left: 20px;
    @include contrast-text($mainColor-lighter, true);
  }
  @include at-breakpoint($desktop) {
    display: none;
  }
}

// Main.
#main {
  //padding-top: $gutter-width;
  padding-bottom: $gutter-width * 2.5;
  min-height: 350px;
  border-top: 10px solid $mainColor-lightest;
  padding-left: 10px;
  padding-right: 10px;
  @include at-breakpoint ($tablet) {
    $container-width: 1220px;
    border-top: 10px solid $mainColor-lighter;
    @include container;

  }
}

#main .header{
  background: $mainColor-lightest;
  padding: 5px 10px 0;
  margin-left: -10px;
  margin-right: -10px;
  @include at-breakpoint ($tablet) {
    background: $mainColor-lighter;
      background: -webkit-linear-gradient(top,$mainColor-lighter 0,$mainColor-lightest 100%);
      background: -o-linear-gradient(top,$mainColor-lighter 0,$mainColor-lightest 100%);
      background: -ms-linear-gradient(top,$mainColor-lighter 0,$mainColor-lightest 100%);
      background: linear-gradient(to bottom,$mainColor-lighter 0,$mainColor-lightest 100%);
    margin-left: -20px;
    margin-right: -20px;
  }
  @include clearfix;
  .topic-home,
   h1{
    font: normal 1.833em/1.2 Arial,"Helvetica Neue",Helvetica,Univers,sans-serif;
    display: block;
    padding-top: .2em;
    padding-bottom: .6em;
    text-decoration: none;
    @include at-breakpoint ($tablet) {
      font-size: 1.833em;
    }
  }

  ul.menu{
    clear: left;
    margin: 0;
    padding: 0;
    li{
      border-top: 1px solid $mainColor-lighter;
      background: none;
      @include at-breakpoint ($tablet) {
        float: left;
        border-top: 0;
      }
      @include at-breakpoint ($desktop) {
        margin-right: 10px;
      }
      a{
        display: block;
        padding: .4em 0;
        color: #154273;
        text-decoration: none;
        font-size: 1.1em;
        @include at-breakpoint ($tablet) {
          display: block;
          padding: .3em 10px;
          text-decoration: none;
          font-size: 1.15em;
        }
        @include at-breakpoint ($desktop) {
          font-size: 1.25em;
        }
        &.active,
        &.active-trail{
          color: #000;
          font-weight: bold;
          @include at-breakpoint ($tablet) {
            background-color: #FFF;
            color: #000;
          }
          @include at-breakpoint ($desktop) {
            font-size: 1.25em;
          }
        }
      }
    }
  }
}


#highlighted {

}

// Breadcrumbs.
#breadcrumb {
  margin-bottom: .4em;
  font-size: .9167em;
  a {
    color: #154273;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    padding: 0;
  }
  a {
  background: 0;
  }
  a+a {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAMAAAAYuxziAAAABlBMVEUVQnP///+tewiuAAAAAnRSTlP/AOW3MEoAAAAYSURBVAjXY2BgZGRkAEIIAvOgLAYIkxEAAZEAFktafNEAAAAASUVORK5CYII=") no-repeat 0 .636em;
    padding-left: 15px;
  }
}

#payoff {
  clear: both;
  position: relative;
  border-left: $logo-width solid $dark-blue;//  kleur rijkslogo
  display: block;
  left: 50%;
  margin-left: - $logo-width/2;
  margin-bottom: 0px;
  padding-left: 6px;
  padding-bottom: 2px;
  min-height: 22px;
  width: 50%;
  font-family: $rijksoverheidSerif;
  @include font-size(9, 16);
  @include at-breakpoint($tablet) {
    width: 240px;
  }
}

// Footer.
#footer {
  @include clearfix;
  background-color: $grey-lightest;
  border-top: 3px solid $black-lighter;
  padding: 0 20px 20px;
  h2 {
    @include font-size(18, 27);
    color: $black-lighter;
    font-weight: normal;
    border-bottom: 1px solid $grey-lighter;
    margin: 0 0 .33em;
    padding: 1.44em 0 0.5em;
  }
  @include at-breakpoint($desktop) {
    padding: 0 20px 40px;
  }
}

#footer-menu {
  .menu > li > {
    a {
      display: block;
      color: $black-lighter;
      @include font-size(13, 23);
      padding: 0.2em 0 0.6em;
      &:visited {
        color: $black-lighter;
      }
    }
  }
  > nav {
    &:first-child {
      clear: both;
    }
    @include at-breakpoint($tablet) {
      @include span-columns(3, 9);
      &:nth-child(3) {
        @include omega;
      }
    }
  }
}

// With no sidebars, show the #content full-width.
.no-sidebars {
  #content {
    @include reset-columns;
    margin-right: $gutter-width;
  }
}

// For tablet size, we show the first sidebar on the right
// and the second sidebar below the content.
@include at-breakpoint($tablet) {
  #centerbox {
    @include set-container-width;
  }
  // #sidebar-first {
  //   @include span-columns(3 omega,9);
  // }
  // #content {
  //   @include span-columns(6,9);
  // }
  // #sidebar-second {
  //   @include span-columns(9 omega,9);
  // }
  .two-sidebars {
    #sidebar-first {
      @include span-columns(3 omega,9);
    }
    #content {
      @include span-columns(6,9);
    }
    #sidebar-second {
      @include span-columns(9 omega,9);
    }
  }
  .sidebar-first {
    #sidebar-first {
      @include span-columns(3 omega,9);
    }
    #content {
      @include span-columns(6,9);
    }
  }
  .sidebar-second {
    #content {
      @include span-columns(6,9);
    }
    #sidebar-second {
      @include span-columns(3 omega,9);
    }
  }
}

// For desktop and up, place the content in between the sidebars.
// We need to pull the first sidebar before the main content.
@include at-breakpoint($desktop) {
  #centerbox {
    @include set-container-width;
  }
  .two-sidebars {
    #sidebar-first {
      @include span-columns(3,12);
      @include pull(9,12);
    }
    #content {
      @include span-columns(6,12);
      @include push(3,12);
    }
    #sidebar-second {
      @include span-columns(3 omega,12);
      @include pull(3,12);
    }
  }
  .sidebar-first {
    #sidebar-first {
      @include span-columns(3,12);
    }
    #content {
      @include span-columns(9 omega,12);
    }
  }
  .sidebar-second {
    #content {
      @include span-columns(9,12);
    }
    #sidebar-second {
      @include span-columns(3 omega,12);
    }
  }
}

@include at-breakpoint($large-desktop) {
  @include with-grid-settings(12,80px,20px,20px) {
    #centerbox {
      $container-width: 1220px;
      @include container;
    }
    .two-sidebars {
      #sidebar-first {
        @include span-columns(3,12);
      }
      #content {
        @include span-columns(6,12);
      }
      #sidebar-second {
        @include span-columns(3 omega,12);
      }
    }
    .sidebar-first {
      #sidebar-first {
        @include span-columns(3,12);
      }
      #content {
        @include span-columns(9 omega,12);
      }
    }
    .sidebar-second {
      #content {
        @include span-columns(9,12);
      }
      #sidebar-second {
        @include span-columns(3 omega,12);
      }
    }
  }
}

#centerbox {
  @include susy-grid-background;
  @include at-breakpoint($tablet) { @include susy-grid-background; }
  @include at-breakpoint($desktop) { @include susy-grid-background; }
  @include at-breakpoint($large-desktop) { @include susy-grid-background; }
}
