/**
 * Table styling.
 */

table {
  border-collapse: collapse;
  margin: 0 0 1.4em 0;
  @include at-breakpoint($tablet) {
    width: auto;
    margin: 0 0 20px 0;
  }
}

form {
  table {
    margin-left: 0;
    margin-bottom: 0;
    min-width: 100%;
    @include at-breakpoint($tablet) {
      margin: 0;
    }
    caption {
      color: $black;
      @include font-size(15,22.5);
      font-weight: bold;
      margin: 0;
      padding: 4px 20px;
    }
    td:last-child {
      width: 100%;
    }
  }
  fieldset table {
    margin-left: -10px;
  }
}

h2 + table {
  margin-top: .8em;
}

td, th {
  padding: 4px 5px 5px;
  border-collapse: collapse;
  vertical-align: top;
  border-right: 2px solid $white;
  border-bottom: 2px solid $white;
  background-color: $mainColor-lightest;
  text-align: left;
  @include at-breakpoint($tablet) {
    padding: 0.6em 5px 0.6em;
    line-height: 1.5;
  }
}

td:first-child, th:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

th {
  &:last-child {
    border-right: none;
  }
  background-color: $mainColor-lighter;
  font-weight: bold;
  p {
    line-height: 1.5;
  }
}

td p {
  line-height: 1.5;
}

th p:last-child, td p:last-child {
  margin-bottom: 0;
}

caption {
  padding-left: 10px;
  margin: 1em 0;
  color: $grey-darkest;
  line-height: 1.5;
  text-align: left;
}

tfoot td {
  background-color: transparent;
}

