<div id="preview">
  <div id="text">
    <h2>Staat der Nederlanden</h2>
    <p>De <strong>Staat der Nederlanden</strong>, ook kortweg de <em>Staat</em>, is de juridische term die gebruikt wordt voor de <a href="http://www.overheid.nl" title="Overheid">overheden</a> van respectievelijk het Koninkrijk der Nederlanden en het land Nederland als rechtspersoon.</p>
  </div>
  <div id="img"></div>
</div>